<div class = "container">

  <h2>Welcome to the DnD 5e API.</h2> 

  <p>We're working on providing support for spells first. Try it out below!<p>

  <form id="example-form">
    <span>http://thiswebsite.com/</span>
    <input name="query" type="text">
    <button type="submit">Submit</button>
  </form>

  <pre id="result"><code></code></pre>

</div>