body {
  background: #f5f5f5;
}

p, h1, h2, h3, h4, h5, h6, span {
  color: #616366;
}

a {
  color: #9C9DE3;
}

a:hover {
  color: #7E69FA;
}

span.fa {
  font-size: 14px;
}

#loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

#loading span {
  font-size: 50px;
  width: 50px;
  height: 50px;
}

.btn {
  border-radius: 2px;
}

.filters, .filter-links {
  margin-bottom: 1rem;
}

.filter-links .btn {
  margin-right: 0.5rem;
  border-radius: 2px;
}

.filter-label {
  display: inline-block;
  width: 7rem;
}

span.active a.btn {
  border-color: #7E69FA;
}

.search {
  display: inline-block;
  min-width: 60%;
  width: 75%;
  margin-right: 1rem;
}

.search input {
  width: 100%;
}

.search input:focus {
  outline: none;
}

.navbar {
  position: relative;
  height: 34px;
  min-height: initial;
  width: 100%;
  transition: 0.5s ease;
  border-radius: 0;
}

.navbar .nav {
  margin: 0;
  padding: 0;
  display: inline-block;
  float: right;
}

.navbar .nav .item {
  list-style: none;
  display: inline-block;
  line-height: 34px;
  transition: 0.5s ease;
}

.navbar .nav .item a {
  text-decoration: none;
  color: inherit;
}
