.spells-header h1 {
  margin: 2rem 2rem 3rem 0;
  color: #7E69FA;
  display: inline-block;
}

.spells-list-headers {
  text-transform: uppercase;
}

.spells-list-headers {
  padding: 0 3rem;
}

.spells-list-headers p {
  font-size: 10px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-item {
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  list-style: none;
  white-space: nowrap;
}

.flex-item p {
  margin: 0;
  width: 90%;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.flex-item.info { 
  width: 1%;
  min-width: 15px;
}

.flex-item.name { width: 26%; }

.flex-item.level { width: 10%; }

.flex-item.school { width: 17%; }

.flex-item.classes { width: 44%; }

.flex-item.options { 
  width: 1%;
  min-width: 15px;
  text-align: right;
}
