.spells-header h1 {
  margin: 2rem 2rem 3rem 0;
  color: #7E69FA;
  display: inline-block;
}

.spells-list-headers {
  text-transform: uppercase;
}

.spells-list-headers {
  padding: 0 3rem;
}

.spells-list-headers p {
  font-size: 10px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-item {
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  list-style: none;
  white-space: nowrap;
}

.flex-item p {
  margin: 0;
  width: 90%;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.flex-item.name { width: 26%; }

.flex-item.level { width: 10%; }

.flex-item.school { width: 17%; }

.flex-item.classes { width: 45%; }

.flex-item.options { 
  width: 1%;
  min-width: 15px;
  text-align: right;
}

.spell-row {
  padding: 1.0rem 3rem;
  border-radius: 2px;
  background-color: #fefefe;
  margin: 0.8rem 0;
  box-shadow: 0px 1px 4px 0px #bcbcbc;
}

.flex-item.details p {
  overflow-x: initial;
  white-space: initial;
  margin-bottom: 0.25rem;
}

.flex-item.details {
  margin-top: 1rem;
}

.detail-label {
  font-weight: 700;
}

.extra {
  display: none;    
}

@media screen and (max-width: 960px) {
  .flex-item.school, .flex-item.classes, .flex-item.options {
    display: none;
  }

  .flex-item.name { width: 88%; }

  .flex-item.level { width: 12%; }

  .filter-links .filter-label {
    display: block;
  }

  .filter-links .btn {
    margin-bottom: 0.5rem;
  }

  .extra {
    display: block;
  }

  .spells-header {
    margin-bottom: 5rem;
  }

  .spells-header .search {
    top: 2rem;
    width: 60%;
  }
}
