.spells-header h1 {
  margin: 2rem 2rem 3rem 0;
  color: #7E69FA;
  display: inline-block;
}

.spells-list-headers {
  text-transform: uppercase;
  padding: 0 20px;
}

.spells-list-headers {
  padding: 0 3rem;
}

.spells-list-headers p {
  font-size: 12px;
}

.spells-list-headers .flex-item.name {
  margin-left: 5%;
}

.flex-container {
  display: flex;
}

.flex-item {
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  list-style: none;
  white-space: nowrap;
}

.flex-item p {
  margin: 0;
  width: 90%;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.flex-item.checkbox { 
  width: 5%;
  margin-top: 0;
  margin-bottom: 0; 
}

.flex-item.name { width: 20%; }

.flex-item.level { width: 10%; }

.flex-item.school { width: 20%; }

.flex-item.classes { width: 40%; }

.flex-item.options { 
  width: 5%; 
  text-align: right;
}
